spring:
  config:
    activate:
      on-profile: test
  data:
    mongodb:
      auto-index-creation: true
  mongodb:
    uri: mongodb://localhost
    port: 27017
    database: gym_workload_db-test
    representation:
      uuid: standard

logging:
  level:
    root: info
    org.springframework.security: info